{% comment %} {% extends 'layout.html'%} {% load static %} {% block content %}
{% endcomment %} {% comment %}
{% endcomment %}
<div id="app" class="fl w-100">
  <ul class="trade__content w-100 mt-7  pl-12 pr-10 b-4 ">
    <li class="fl white-bg w-65 mr-4pct br-m card-shadow ">
      <div class="d-flex jcsb aic p-4 pl-8 pr-8 b-bottom ">
        <h2 class="fz-xm fwbr"><i class="fas fa-list mr-3"></i>商品行情表</h2>
      </div>
      <div class="trade--productList p-2 h-40 w-100">
        <table class="w-100 tac trade--table mb-4 ">
          <tr class="fwb">
            <th>序號</th>
            <th>商品代號</th>
            <th>商品名稱</th>
            <th>月</th>
            <th>開盤</th>
            <th>收盤</th>
            <th>時間</th>
          </tr>
          {% for item in Tx %}
          <tr class="trade--table__item">
            <td>1</td>
            <td>TX</td>
            <td>台指期</td>
            <td>{{item.tx_time}}</td>
            <td>{{item.tx_open}}</td>
            <td>{{item.tx_close}}</td>
            <td>{{item.tx_date}} {{item.tx_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Mtx %}
          <tr class="trade--table__item">
            <td>2</td>
            <td>MTX</td>
            <td>小台指期</td>
            <td>{{item.mtx_time}}</td>
            <td>{{item.mtx_open}}</td>
            <td>{{item.mtx_close}}</td>
            <td>{{item.mtx_date}} {{item.mtx_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Te %}
          <tr class="trade--table__item">
            <td>3</td>
            <td>TE</td>
            <td>電子期</td>
            <td>{{item.te_time}}</td>
            <td>{{item.te_open}}</td>
            <td>{{item.te_close}}</td>
            <td>{{item.te_date}} {{item.te_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Tf %}
          <tr class="trade--table__item">
            <td>4</td>
            <td>TF</td>
            <td>金融期</td>
            <td>{{item.tf_time}}</td>
            <td>{{item.tf_open}}</td>
            <td>{{item.tf_close}}</td>
            <td>{{item.tf_date}} {{item.tf_time}} </td>
          </tr>
          {% endfor %}
          {% for item in MiniDow %}
          <tr class="trade--table__item">
            <td>5</td>
            <td>YM</td>
            <td>小道瓊</td>
            <td>{{item.mini_dow_time}}</td>
            <td>{{item.mini_dow_open}}</td>
            <td>{{item.mini_dow_close}}</td>
            <td>{{item.mini_dow_date}} {{item.mini_dow_time}} </td>
          </tr>
          {% endfor %}
          {% for item in MiniNastaq %}
          <tr class="trade--table__item">
            <td>6</td>
            <td>NQ</td>
            <td>小那斯達克</td>
            <td>{{item.mini_nastaq_time}}</td>
            <td>{{item.mini_nastaq_open}}</td>
            <td>{{item.mini_nastaq_close}}</td>
            <td>{{item.mini_nastaq_date}} {{item.mini_nastaq_time}} </td>
          </tr>
          {% endfor %}
          {% for item in MiniSp %}
          <tr class="trade--table__item">
            <td>7</td>
            <td>ES</td>
            <td>小S&P</td>
            <td>{{item.mini_sp_time}}</td>
            <td>{{item.mini_sp_open}}</td>
            <td>{{item.mini_sp_close}}</td>
            <td>{{item.mini_sp_date}} {{item.mini_sp_time}} </td>
          </tr>
          {% endfor %}
          {% for item in MiniRussell %}
          <tr class="trade--table__item">
            <td>8</td>
            <td>RTY</td>
            <td>小羅素2000</td>
            <td>{{item.mini_russell_time}}</td>
            <td>{{item.mini_russell_open}}</td>
            <td>{{item.mini_russell_close}}</td>
            <td>{{item.mini_russell_date}} {{item.mini_russell_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Soy %}
          <tr class="trade--table__item">
            <td>9</td>
            <td>S</td>
            <td>黃豆</td>
            <td>{{item.soy_time}}</td>
            <td>{{item.soy_open}}</td>
            <td>{{item.soy_close}}</td>
            <td>{{item.soy_date}} {{item.soy_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Wheat %}
          <tr class="trade--table__item">
            <td>10</td>
            <td>W</td>
            <td>小麥</td>
            <td>{{item.wheat_time}}</td>
            <td>{{item.wheat_open}}</td>
            <td>{{item.wheat_close}}</td>
            <td>{{item.wheat_date}} {{item.wheat_time}} </td>
          </tr>
          {% endfor %}
          {% for item in Corn %}
          <tr class="trade--table__item">
            <td>11</td>
            <td>C</td>
            <td>玉米</td>
            <td>{{item.corn_time}}</td>
            <td>{{item.corn_open}}</td>
            <td>{{item.corn_close}}</td>
            <td>{{item.corn_date}} {{item.corn_time}} </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </li>

    <li class="fl white-bg w-30  br-m  card-shadow orderMachine">
      <div class="d-flex jcsb aic p-4  pr-8 b-bottom ">
        <h2 class="fz-xm fwbr"><i class="fas fa-cash-register mr-3 "></i>下單機</h2>
      </div>
      <form action="" class="w-100">
        <div class="radio pt-4 pl-4 pr-4 pb-2">
          <h3 class="mb-3 fwb">選擇模式：</h3>
          <input type="radio" name="select" value="valuable" class="valuable" checked><label for="valuable"
            class="mr-5">變數設定</label>
          <input type="radio" name="select" value="strategy" class="strategy"><label for="strategy">策略設定</label>
        </div>
        <hr class="mt-3 mb-3 ml-4 mr-4">

        <div id="valuable" class="pt-2 pl-4 pr-4 pb-2">
          <h3 class="fwb mb-3">變數設定</h3>
          <label for="product">期貨商品：</label>
          <select name="product" id="product" class="w-60 p-1 br-s" v-model="stock">
            <option v-for="item in list" v-bind:value="item.id">[[ item.name ]]</option>
          </select>
          <br>
          <label for="start-time">開始時間：</label>
          <input id="start-time" name="start-time" type="date" class="p-1 br-s mt-3" v-model="startTimes" min="2019-01-07" max="2020-01-07">
          <br>
          <label for="end-time">結束時間：</label>
          <input id="end-time" name="end-time" type="date" class=" p-1 br-s mt-3" v-model="endTimes" min="2019-01-07" max="2020-01-07">
          <br>
          <label for="longshort">多空設定：</label>
          <select id="longshort" class="w-30 mt-3 p-1 br-s" v-model="longshort">
            <option v-for="item4 in listLongshort" v-bind:value="item4.id">[[ item4.name ]]</option>
          </select>
          <br>
          <label for="inst">進場設定：</label>
          <select id="inst" class="w-60 mt-3 p-1 br-s" v-model="inst">
            <option v-for="item5 in listInst" v-bind:value="item5.id" v-show="item5.lsType===longshort">[[ item5.name ]]</option>
          </select>
          <br>
          <label for="outst">出場設定：</label>
          <select id="outst" class="w-60 mt-3 p-1 br-s" v-model="outst">
            <option v-for="item6 in listOutst" v-bind:value="item6.id" v-show="item6.lsType===longshort">[[ item6.name ]]</option>
          </select>
          <br>
          <label for="fix">固定設定：
            <select name="fix" id="fix" class="mt-3 p-1 br-s w-60" v-model="fix">
              <option v-for="item2 in list2" v-bind:value="item2.id">[[ item2.name ]]</option>
            </select>
            <br>
            <label for="stop">停損停利：</label>
            <select name="stop" class="stop mt-3 w-60 p-1 br-s" v-model="stop">
              <option v-for="item3 in listStop" v-bind:value="item3.id">[[ item3.name ]]</option>
            </select>
            <div class="stop-content">
              <div v-show="stop==='1'">
                <label for="stop1">停損：</label><input type="number" class="w-30 mt-3 p-1 br-s" id="stop1" v-model="stop1"> %
                <br>
                <label for="stop2">停利：</label><input type="number" class="w-30 mt-3 p-1 br-s" id="stop2" v-model="stop2"> %
              </div>
              <div v-show="stop==='2'">
                <label for="stop3">停損：</label><input type="number" class="w-30 mt-3 p-1 br-s" id="stop3" v-model="stop3"> 點
                <br>
                <label for="stop4">停利：</label><input type="number" class="w-30 mt-3 p-1 br-s" id="stop4" v-model="stop4"> 點
              </div>
              <div v-show="stop==='3'">
                <label for="stop5">停損：</label><input type="number" class="w-30 mt-3 p-1 br-s" id="stop5" v-model="stop5"> 點
              </div>
            </div>
            <!-- @ -->
            <p class="mt-3">單口價格 :&nbsp;&nbsp;<span class="fwbr fz-xm">18,0000</span> / 口</p>
            <!-- @ -->

            <!-- button -->
            <input type="button" value="下單" class="fr submit__btn dark-gray b-n mt-4 fwb" data-bs-toggle="modal"
              data-bs-target="#exampleModalCenter" @click="GetUserRecordFree">
            <!-- button-modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header p-3">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cash-register mr-3 ml-5"></i>下單機
                    </h5>
                    <button type="button" class="b-n close__btn" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fas fa-times fz-s"></i></button>
                  </div>
                  <form action="">
                    <div class="modal-body  p-4  gray-bg">
                      <div class=" w-80 m0-a tac">
                        <h2>已成功新增一筆持倉資料<br>請前往個人頁面查看</h2>
                        <a href="/personal/" class="personal__btn dark-gray b-n fwb mt-3 d-inline-block">前往查看</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>

        <!-- @策略設定 -->
        <div id="strategy" class="d-none pt-2 pl-4 pr-4 pb-2">
          <h3 class="fwb mb-3">策略設定</h3>
          <label for="setgroup">我的策略清單 : </label>
          <select name="product" v-model="setgroupValues" class="w-60 p-1 br-s mb-2" id="setgroup">
            <option v-for="i in setgrouplist" v-bind:value="i.technical_strategry_id">[[ i.technical_strategry_id ]]
            </option>
          </select>

          <!-- button -->
          <input type="button" @click="GetUserRecord" value="下單" class="fr submit__btn dark-gray b-n mt-4 fwb"
            data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
          <!-- button-modal -->
          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header p-3">
                  <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cash-register mr-3 ml-5"></i>下單機</h5>
                  <button type="button" class="b-n close__btn" data-bs-dismiss="modal" aria-label="Close"><i
                      class="fas fa-times fz-s"></i></button>
                </div>
                <form action="">
                  <div class="modal-body  p-4  gray-bg">
                    <div class=" w-80 m0-a tac">
                      <h2>已成功新增一筆持倉資料<br>請前往個人頁面查看</h2>
                      <a href="/personal/" class="personal__btn dark-gray b-n fwb mt-3 d-inline-block">前往查看</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
    </li>
    <li class="fl white-bg w-100 br-m  card-shadow mt-6 mr-4pct pb-6">
      <h2 class="fz-xm fwbr  p-4 pl-8 pr-8 b-bottom"><i class="fas fa-list mr-3"></i>看盤</h2>
      <div class="d-flex jcsb  pt-6 pb-6 pl-8 pr-8">
        <div class="w-25 ">
          <h2 class="mb-4 fwb primary b-bottom pb-2">商品設定</h2>
          <label for="product">期貨商品：</label>
          <select name="product" id="product" class="p-1 br-s w-50" v-model="stocks">
            <option v-for="items in lists" v-bind:value="items.id">[[ items.name ]]</option>
          </select>
        </div>
        <div class="w-25">
          <h2 class="mb-4 fwb primary b-bottom pb-2">時間設定</h2>
          <label for="cycle">資料週期：</label>
          <select id="cycle" name="cycle" class=" p-1 br-s w-60 mb-5" v-model="timePeriod">
            <option v-for="items2 in lists2" v-bind:value="items2.id">[[ items2.name ]]</option>
          </select>
          <br>
          <label for="start-times">開始時間：</label>
          <input id="start-times" name="start-times" type="date" class="p-1 br-s mb-5" v-model="startTime" min="2017-07-13" max="2020-01-07">
          <br>
          <label for="end-times">結束時間：</label>
          <input id="end-times" name="end-times" type="date" class=" p-1 br-s" v-model="endTime" min="2017-07-13" max="2020-01-07">
        </div>

        <div class="w-40">
          <h2 class="mb-4 fwb primary b-bottom pb-2">副圖指標</h2>
          <div class="w-70">
            <label class="mb-4 primary" for="str1">副圖指標1：</label>
            <select class="mb-5 w-50 br-s p-1 " v-model="lineOne" id="str1">
              <option value="0">請選擇</option>
              <option value="MA">MA指標</option>
              <option value="RSI">RSI指標</option>
              <option value="BIAS">BIAS指標</option>
              <option value="Real">威廉指標</option>
              <option value="KD">KD指標</option>
              <option value="MACD">MACD指標</option>
            </select>
            <br>
            <label class="mb-2 primary" for="str2">副圖指標2：</label>
            <select class="mb-5 w-50 br-s p-1" v-model="lineTwo" id="str2">
              <option value="0">請選擇</option>
              <option value="MA">MA指標</option>
              <option value="RSI">RSI指標</option>
              <option value="BIAS">BIAS指標</option>
              <option value="Real">威廉指標</option>
              <option value="KD">KD指標</option>
              <option value="MACD">MACD指標</option>
            </select>
          </div>
          <button class="fr submit__btn dark-gray b-n mt-7 fwb" @click="GetTechnicalImgHeml"> 確認送出 </button>
        </div>
    </li>
  </ul>

  <!-- v-if 只有二選一 -->
  <div v-if="isShow"><iframe :src="hemlSrc" width="1000" height="800" frameborder="1" scrolling="no"></iframe></div>
</div>

<script>
  new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data() {
      return {
        // 下單機
        list: [], // 商品列表
        stock: "default",
        startTimes: "", // 開始時間
        endTimes: "", // 結束時間
        list2: [], // 資金管理
        fix: "default",
        listStop: [], // 停損停利
        stop: "default",
        listLongshort: [], //多空設定
        longshort: "default",
        listInst: [], // 進場策略
        inst: "default",
        listOutst: [], // 出場策略
        outst: "default",
        setgrouplist: [],
        setgroupValues: "default",
        stop1: "default",
        stop2: "default",
        stop3: "default",
        stop4: "default",
        stop5: "default",
        profit:"",
        loss:"",


        // 看盤
        lists: [], // 商品列表
        stocks: "default",
        lists2: [], // 資料週期
        timePeriod: "default",
        startTime: "", // 開始時間
        endTime: "", // 結束時間
        data: [], // 畫圖
        lineOne: 0, //副圖指標1
        lineTwo: 0, //副圖指標2
        hemlSrc: "", //iframe
        isShow: false, //iframe

      };
    },
    mounted: function () { },
    components: {},
    // 如果要一開始網頁就要出現的東西就要寫在這裡 created
    created() {
      this.getItem();
      this.getItem2();
      this.getItem3();
      this.getItem4();
      this.getItem5();
      this.getItem6();
      this.getItems();
      this.getItems2();
      this.GetTechnicalStrategry();
    },
    // methods=function
    methods: {
      // 下單機商品列表
      getItem: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "tx",
            name: "台指期",
          },
          {
            id: "mtx",
            name: "小台指",
          },
          {
            id: "te",
            name: "電子期",
          },
          {
            id: "tf",
            name: "金融期",
          },
          {
            id: "udf",
            name: "小道瓊",
          },
          {
            id: "nas",
            name: "小那斯達克",
          },
          {
            id: "sp",
            name: "小S&P",
          },
          {
            id: "rut",
            name: "小羅素2000",
          },
          {
            id: "us10",
            name: "美國十年公債",
          },
          {
            id: "s",
            name: "黃豆",
          },
          {
            id: "w",
            name: "小麥",
          },
          {
            id: "c",
            name: "玉米",
          },
          ];
        this.list = res;
        console.log(this.list);
      },

      // 下單機資金管理
      getItem2: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "0",
            name: "固定購買一口",
          },
          {
            id: "1",
            name: "固定金額推薦",
          },
          {
            id: "2",
            name: "固定比率推薦",
          }];
        this.list2 = res;
        console.log(this.list2);
      },

      // 下單機停損停利
      getItem3: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "1",
            name: "百分比",
          },
          {
            id: "2",
            name: "固定式",
          },
          {
            id: "3",
            name: "移動式",
          }];
        this.listStop = res;
        console.log(this.listStop);
      },

      // 下單機多空設定
      getItem4: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "1",
            name: "作多",
          },
          {
            id: "2",
            name: "作空",
          },
          ];
        this.listLongshort = res;
        console.log(this.listLongshort);
      },

      // 下單機進場設定
      getItem5: function () {
        const res =
          // 作多
          [{
            id: "default",
            name: "請選擇",
            lsType: "default",
          },
          {
            id: "0",
            name: "MA快線向上突破慢線",
            lsType: "1",
          },
          {
            id: "1",
            name: "OSC值向上突破0",
            lsType: "1",
          },
          {
            id: "2",
            name: "RSI>50",
            lsType: "1",
          },
          {
            id: "3",
            name: "K值向上突破D值",
            lsType: "1",
          },
          {
            id: "4",
            name: "乖離率<0.001",
            lsType: "1",
          },
          {
            id: "5",
            name: "威廉指標從-80反彈",
            lsType: "1",
          },
          // 作空
          {
            id: "6",
            name: "MA快線向下跌破慢線",
            lsType: "2",
          },
          {
            id: "7",
            name: "OSC值向下跌破0",
            lsType: "2",
          },
          {
            id: "8",
            name: "RSI<50",
            lsType: "2",
          },
          {
            id: "9",
            name: "K值向下跌破D值",
            lsType: "2",
          },
          {
            id: "10",
            name: "乖離率>0.001",
            lsType: "2",
          },
          {
            id: "11",
            name: "威廉指標從-20回落",
            lsType: "2",
          },];
        this.listInst = res;
        console.log(this.listInst);
      },
      // 下單機出場設定
      getItem6: function () {
        const res =
          // 作多
          [{
            id: "default",
            name: "請選擇",
            lsType: "default",
          },
          {
            id: "0",
            name: "MA慢線追過快線",
            lsType: "1",
          },
          {
            id: "1",
            name: "RSI<30或RSI>80",
            lsType: "1",
          },
          {
            id: "2",
            name: "K值向下跌破D值",
            lsType: "1",
          },
          {
            id: "3",
            name: "正乖離率過大並回落特定界線",
            lsType: "1",
          },
          {
            id: "4",
            name: "威廉指標從上界值回落",
            lsType: "1",
          },
          // 作空
          {
            id: "5",
            name: "MA慢線追過快線",
            lsType: "2",
          },
          {
            id: "6",
            name: "RSI<20或RSI>70",
            lsType: "2",
          },
          {
            id: "7",
            name: "K值向上突破D值",
            lsType: "2",
          },
          {
            id: "8",
            name: "負乖離率過大並回落特定界線",
            lsType: "2",
          },
          {
            id: "9",
            name: "威廉指標從下界值回落",
            lsType: "2",
          },];
        this.listOutst = res;
        console.log(this.listOutst);
      },

      // 看盤商品列表
      getItems: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "tx",
            name: "台指期",
          },
          {
            id: "mtx",
            name: "小台指",
          },
          {
            id: "te",
            name: "電子期",
          },
          {
            id: "tf",
            name: "金融期",
          },
          {
            id: "mini_dow",
            name: "小道瓊",
          },
          {
            id: "mini_nasdaq",
            name: "小那斯達克",
          },
          {
            id: "mini_sp",
            name: "小S&P",
          },
          {
            id: "mini_russell",
            name: "小羅素2000",
          },
          {
            id: "us10",
            name: "美國十年公債",
          },
          {
            id: "soybean",
            name: "黃豆",
          },
          {
            id: "wheat",
            name: "小麥",
          },
          {
            id: "corn",
            name: "玉米",
          },
          ];
        this.lists = res;
        console.log(this.lists);
        // // axios.get("/api/GetTechnicalType").then((resp) => {
        // //   this.list = resp.data["data"];
        // //   console.log(this.list);
        // });
      },

      // 看盤資料週期
      getItems2: function () {
        const res =
          [{
            id: "default",
            name: "請選擇",
          },
          {
            id: "5m",
            name: "五分鐘",
          },
          {
            id: "2h",
            name: "兩小時",
          },
          {
            id: "1D",
            name: "一天",
          },
          ];
        this.lists2 = res;
        console.log(this.lists2);
      },

      GetTechnicalImgHeml: function () {
        console.log("進入GetTechnicalImgHeml");
        //this.neme = document.getElementById('userName').innerText;
        // console.log(this.neme);
        // 測試有-商品列表
        console.log(this.stocks);
        // 測試有-開始和結束時間
        console.log(this.startTime, this.endTime);

        // 副圖指標不能單選！
        if (this.lineOne === 0 || this.lineTwo === 0) {
          alert("策略少一個");
          return false;
        }
        //console.log(this.lineOne,this.lineTwo)
        if (this.data.length === 0) {
          // append=push 塞資料
          const res =
          {
            "data": {
              "stock": this.stocks,
              "timePeriod": this.timePeriod,
              "startTime": this.startTime,
              "endTime": this.endTime,
              "lineOne": this.lineOne,
              "lineTwo": this.lineTwo,
            }
          };
          // this.data.push(this.lineOne);
          // this.data.push(this.lineTwo);
          this.data = res
          console.log(res);
        }
        console.log(this.data);

        axios.post("/api/GetTechnicalImgHeml", this.data).then((resp) => {
          alert("計算結束");
          console.log(resp);
          console.log(resp.data.hemlName);
          //location.href = '../static/ResultHtml/'+resp.data.hemlName+".html"
          this.isShow = true;
          this.hemlSrc =
            "http://127.0.0.1:8000/static/ResultHtml/" +
            resp.data.hemlName +
            ".html";
          console.log(this.hemlSrc);
        });
      },
      GetTechnicalStrategry: function () {
        axios.get("/api/GetTechnicalStrategry?memberId=account01", this.data).then((resp) => {
          this.setgrouplist = resp.data["data"]
          console.log(resp.data);
        });
      },
      GetUserRecord: function () {
        console.log(this.setgroupValues)
        axios.post("/api/UserRecord?memberId=account01&technical_strategry_id=" + this.setgroupValues, this.data).then((resp) => {
          console.log(resp.data);
        });
      },
      GetUserRecordFree: function () {
        // console.log("in")
        // console.log(this.stock)
        // console.log(this.startTimes)
        // console.log(this.endTimes)
        // console.log(this.longshort)
        // console.log(this.inst)
        // console.log(this.outst)
        // console.log(this.fix)
        // console.log(this.stop)

        if (this.stop === '1') {
          // console.log('this.stop1')
          this.profit = document.getElementById('stop1').value;
          this.loss = document.getElementById('stop2').value;
        }
        else if (this.stop === '2') {
          // console.log('this.stop2')
          this.profit = document.getElementById('stop3').value;
          this.loss = document.getElementById('stop4').value;
        }
        else {
          // console.log('this.stop3')
          this.profit = 0;
          this.loss = document.getElementById('stop5').value;
        }

        const res =
        {
          "data": {
            "stock": this.stock,
            "startTime": this.startTimes,
            "endTime": this.endTimes,
            "longshort": this.longshort,
            "inst": this.inst,
            "outst": this.outst,
            "stop": this.stop,
            "fix": this.fix,
            "profit": this.profit,
            "loss": this.loss
          }
        };
        // this.data.push(this.lineOne);
        // this.data.push(this.lineTwo);
        this.data = res

        console.log(res);
        axios.post("/api/UserRecordFree", this.data).then((resp) => {
          console.log(resp.data);
        });
      },


    },
  });
</script>

<!-- 下單機變換選項 -->
<script>
  $(".valuable").click(function () {
    $("#valuable").show();
    $("#strategy").hide();
  });
  $(".strategy").click(function () {
    $("#strategy").show();
    $("#valuable").hide();
  });
</script>
{% comment %} {% endblock %} {% endcomment %}
</div>