.forum{
    img{
        width: 100px;
        height: 100px;
    }
    
    .content-left li a,.content-right li a{
        &:hover{
            background: #f3f2f2;
            h3{
                color: rgba(9, 44, 81, 0.88);
                text-decoration: underline;
            }
        }
    }
    .Avatars{
        position: relative;
        width: 20%; /* 固定寬度 */
        margin-right: 22px;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%; /*padding取決於寬度，這裡設定padding-bottom: 100%就可以得到正方形*/
        }
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; /*將圖片大小固定為父類div的大小*/
            width: 100%; 
            height: 100%;
            object-fit: cover; /* 相當於 background-size: cover; of a background-image */
            object-position: center;
        }
    }
    .Avatars-l{
        position: relative;
        width: 35%; /* 固定寬度 */
        height: 35%;
        margin-right: 22px;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%; /*padding取決於寬度，這裡設定padding-bottom: 100%就可以得到正方形*/
        }
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; /*將圖片大小固定為父類div的大小*/
            width: 100%; 
            height: 100%;
            object-fit: cover; /* 相當於 background-size: cover; of a background-image */
            object-position: center;
        }
    }
    .write{
        position: fixed;
        bottom: 15px;
        right: 60px;
        img{
            width: 60px;
            height: 60px;
        }
    }
}